body{
    background-color:cadetblue;
}

h1{
    color: brown;
    text-align: center;
}

h2{
    color:slateblue;
    text-align: center;
    font-family: cursive;    
}

h3{
    color: saddlebrown;
    text-align: center;
    font-family: cursive;
}

.lp-1{
    background-color: wheat;
    display: flexbox;
    font-size:larger;
    font-weight: bold;
    margin: auto;
    padding: 4px;
    border: 4px solid white;
    border-radius: 5px;
    width:35%;
    height:auto;
}

.button{
    width: auto;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color:darkolivegreen;
    color:white;
    padding: 5px 5px;
    margin: 5px 0;
    border: 4px solid blanchedalmond;
    border-radius: 4px;
    cursor:pointer;
    align-items: center;
}

input[type=submit] {
    width: 5%;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    background-color:darkgreen;
    color:white;
    padding: 5px 5px;
    margin: 2px 0;
    border: 4px solid blanchedalmond;
    border-radius: 4px;
    cursor:pointer;
    align-items: center;
}

input.form-control:placeholder-shown{
    text-overflow: clip;
    width:32%;
    /* text-align: center; */
}

